.grid {
    width: 828px;
    height: 610px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 36px;
    height: 36px;
}

/*duro
.arbusto {
    background-image: url("../IMG/arbusto.jpeg");
    border-radius: 5px;
    position: relative;
    background-size: cover;
}
*/

/*transparente
.pasto-claro {
    background-image: url("../IMG/pasto.jpg") ;
    border: 5px ;
    position: relative;
    box-sizing: cover;
}
*/

.a {
    background-image: url("../IMG/18A.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.b{
    background-image: url("../IMG/2.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.c {
    background-image: url("../IMG/3.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.personaje {
    background-image: url('../IMG/personajee.jpg');
    position: relative;
    background-size: cover;
    border: 5px;
    /*border: none;
    z-index: 999;*/
    
}

.d {
    background-image: url('../IMG/4.jpg');
    border: 5px;
    position: relative;
    background-size: cover;
}

.e {
    background-image: url("../IMG/5.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.f {
    background-image: url("../IMG/6.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.g {
    background-image: url("../IMG/7.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.h {
    background-image: url("../IMG/8.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.i {
    background-image: url("../IMG/9.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.j {
    background-image: url("../IMG/10.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.k {
    background-image: url("../IMG/11.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.l {
    background-image: url("../IMG/12.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.m {
    background-image: url("../IMG/13.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.n {
    background-image: url("../IMG/14.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.o {
    background-image: url("../IMG/15.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.p {
    background-image: url("../IMG/16A.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.q {
    background-image: url("../IMG/16.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.r {
    background-image: url("../IMG/17A.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.s {
    background-image: url("../IMG/17.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.t {
    background-image: url("../IMG/1.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.u {
    background-image: url("../IMG/18.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
    z-index: 1;
}

.v {
    background-image: url("../IMG/19.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.w {
    background-image: url("../IMG/20.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.x {
    background-image: url("../IMG/21.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.y {
    background-image: url("../IMG/22.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.z {
    background-image: url("../IMG/23.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.aa {
    background-image: url("../IMG/24.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ab {
    background-image: url("../IMG/25.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ac {
    background-image: url("../IMG/26.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ad {
    background-image: url("../IMG/27.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ae {
    background-image: url("../IMG/28.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.af {
    background-image: url("../IMG/29.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ag {
    background-image: url("../IMG/30.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ah {
    background-image: url("../IMG/31.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ai {
    background-image: url("../IMG/32.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.aj {
    background-image: url("../IMG/33.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ak {
    background-image: url("../IMG/34.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.al {
    background-image: url("../IMG/35.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.am {
    background-image: url("../IMG/36.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.an {
    background-image: url("../IMG/37.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ao {
    background-image: url("../IMG/38.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ap {
    background-image: url("../IMG/39.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.aq {
    background-image: url("../IMG/40.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ar {
    background-image: url("../IMG/40A.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.as {
    background-image: url("../IMG/41A.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.at {
    background-image: url("../IMG/41.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.au {
    background-image: url("../IMG/42.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.av {
    background-image: url("../IMG/43.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.aw {
    background-image: url("../IMG/44.jpg") ;
    border: 5px ;
    position: relative;
    background-size: cover;
}

.ax {
    background-image: url("../IMG/45.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ay {
    background-image: url("../IMG/46.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.az {
    background-image: url("../IMG/47.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ba {
    background-image: url("../IMG/48.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bb {
    background-image: url("../IMG/49.jpg");
    border: 5px;
    position: relative;
    background-size: cover;
}

/* EXPANSION */

.bc {
    background-image: url("../IMG/71.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bd {
    background-image: url("../IMG/75.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.be {
    background-image: url("../IMG/76.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bf {
    background-image: url("../IMG/77.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bg {
    background-image: url("../IMG/81.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bh {
    background-image: url("../IMG/85.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bi {
    background-image: url("../IMG/86.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bj {
    background-image: url("../IMG/87.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bk {
    background-image: url("../IMG/91.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bl {
    background-image: url("../IMG/95.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bm {
    background-image: url("../IMG/96.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bn {
    background-image: url("../IMG/97.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bo {
    background-image: url("../IMG/101.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bp {
    background-image: url("../IMG/102.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bq {
    background-image: url("../IMG/103.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.br {
    background-image: url("../IMG/104.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bs {
    background-image: url("../IMG/105.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bt {
    background-image: url("../IMG/106.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bu {
    background-image: url("../IMG/107.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bv {
    background-image: url("../IMG/73.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bw {
    background-image: url("../IMG/74.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bx {
    background-image: url("../IMG/755.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.by {
    background-image: url("../IMG/766.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.bz {
    background-image: url("../IMG/777.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ca {
    background-image: url("../IMG/78.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cb {
    background-image: url("../IMG/79.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cbb {
    background-image: url("../IMG/799.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cc {
    background-image: url("../IMG/80.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cd {
    background-image: url("../IMG/811.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ce {
    background-image: url("../IMG/82.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cf {
    background-image: url("../IMG/83.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cg {
    background-image: url("../IMG/1g.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ch {
    background-image: url("../IMG/855.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ci {
    background-image: url("../IMG/866.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cj {
    background-image: url("../IMG/877.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ck {
    background-image: url("../IMG/88.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cl {
    background-image: url("../IMG/89.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cm {
    background-image: url("../IMG/90.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cn {
    background-image: url("../IMG/911.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.co {
    background-image: url("../IMG/92.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cp {
    background-image: url("../IMG/93.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cq {
    background-image: url("../IMG/94.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cr {
    background-image: url("../IMG/1e.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cs{
    background-image: url("../IMG/966.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ct {
    background-image: url("../IMG/977.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cu {
    background-image: url("../IMG/98.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cv {
    background-image: url("../IMG/99.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cw {
    background-image: url("../IMG/100.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cx {
    background-image: url("../IMG/1a.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cy {
    background-image: url("../IMG/1c.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cz {
    background-image: url("../IMG/133.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.da {
    background-image: url("../IMG/1b.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.db {
    background-image: url("../IMG/1055.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.dc {
    background-image: url("../IMG/166.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.dd {
    background-image: url("../IMG/177.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.de {
    background-image: url("../IMG/108.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.df {
    background-image: url("../IMG/109.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cg {
    background-image: url("../IMG/110.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.ch {
    background-image: url("../IMG/122.png");
    border: 5px;
    position: relative;
    background-size: cover;
}

.cii {
    background-image: url("../IMG/1z.png");
    border: 5px;
    position: relative;
    background-size: contain ;
}

.cjj {
    background-image: url("../IMG/955.png");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.zz {
    background-image: url("../IMG/0.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

/*  cada letra pertenece a un numero para el mapa en el js
    0 - a
    1 - t
    2 - b
    3 - c
    4 - d
    5 - e
    6 - f
    7 - g
    8 - h
    9 - i
    10 - j
    11 - k
    12 - l
    13 - m
    14 - n
    15 - o
    16 - q
    50 - p
    17 - s
    51 - r
    18 - u
    19 - v
    20 - w
    21 - x
    22 - y
    23 - z
    24 - aa
    25 - ab
    26 - ac
    27 - ad
    28 - ae
    29 - af
    30 - ag
    31 - ah
    32 - ai
    33 - aj
    34 - ak
    35 - al
    36 - am
    37 - an
    38 - ao
    39 - ap
    40 - aq
    52 - ar
    53 - as
    41 - at
    42 - au
    43 - av
    44 - aw
    45 - ax
    46 - ay
    47 - az
    48 - ba
    49 - bb

    EXPANSION DEL MAPA

    54 - BC
    55 - BD
    56 - BE
    57 - BF
    58 - BG
    59 - BH
    60 - BI
    61 - BJ
    62 - BK
    63 - BL
    64 - BM
    65 - BN
    66 - BO
    67 - BP
    68 - BQ
    69 - BR
    70 - BS
    71 - BT
    72 - BU

    EXPANSION 2 (ABAJO)
    73 - BV
    74 - BW
    755 - BX
    766 - BY
    777 - BZ
    78 - CA
    79 - CB
    80 - CC
    811 - CD
    82 - CE
    83 - CF
    84 - CG
    855 - CH
    866 - CI
    877 - CJ
    88 - CK
    89 - CL
    90 - CM
    911 - CN
    92 - CO
    93 - CP
    94 - CQ
    955 - CR
    966 - CS
    977 - CT
    98 - CU
    98 - CV
    100 - CW
    1011 - CX
    1022 - CY
    1033 - CZ
    1044 - DA
    1055 - DB
    1066 - DC
    1077 - DD
    108 - DE
    109 - DF
    110 - DG
    10
*/


