/* Mapa de la casa*/
.grid {
    width: 828px;
    height: 610px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 36px;
    height: 36px;
}

.personaje {
    background-image: url('../IMG/personajee.jpg');
    position: relative;
    background-size: cover;
    border: 5px;
    /*border: none;
    z-index: 999;*/ 
}

.ea {
    background-image: url("../IMG/1111.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.eb {
    background-image: url("../IMG/1112.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ec {
    background-image: url("../IMG/1113.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ed {
    background-image: url("../IMG/1114.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ee {
    background-image: url("../IMG/1115.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ef {
    background-image: url("../IMG/1116.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.eg {
    background-image: url("../IMG/1117.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.eh {
    background-image: url("../IMG/1118.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ei {
    background-image: url("../IMG/1119.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ej {
    background-image: url("../IMG/1120.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ek {
    background-image: url("../IMG/1121.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.el {
    background-image: url("../IMG/1122.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.em {
    background-image: url("../IMG/1123.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.en {
    background-image: url("../IMG/1124.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.eo {
    background-image: url("../IMG/1125.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ep {
    background-image: url("../IMG/1126.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.eq {
    background-image: url("../IMG/1127.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.er {
    background-image: url("../IMG/1128.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.es {
    background-image: url("../IMG/1129.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.et {
    background-image: url("../IMG/1130.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.eu {
    background-image: url("../IMG/1131.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

/* JS

const height=7
const width= 13
const grid= document.querySelector(".grid");
const scoreDisplay = document.getElementById("score");
let score = 0;
const squares = [];

function createPokBoard() {
    if (!grid) {
        console.error('El elemento grid no existe');
        return;
    }

    for (let i = 0; i < layout.length; i++) {
        const square = document.createElement("div");
        grid.appendChild(square);
        squares.push(square);

        // anadiendo las clases segun el layout
        if (layout[i] === 1) {
            square.classList.add("ea");
        } else if (layout[i] === 2) {
            square.classList.add("eb");
        } else if (layout[i] === 3) {
            square.classList.add("ec");
        } else if (layout[i] === 4) {
            square.classList.add("ed");
        } else if (layout[i] === 5) {
            square.classList.add("ee");
        } else if (layout[i] === 6) {
            square.classList.add("ef");
        } else if (layout[i] === 7) {
            square.classList.add("eg");
        } else if (layout[i] === 8) {
            square.classList.add("eh");
        } else if (layout[i] === 9) {
            square.classList.add("ei");
        } else if (layout[i] === 10) {
            square.classList.add("ej");
        } else if (layout[i] === 11) {
            square.classList.add("ek");
        } else if (layout[i] === 12) {
            square.classList.add("el");
        } else if (layout[i] === 13) {
            square.classList.add("em");
        } else if (layout[i] === 14) {
            square.classList.add("en");
        } else if (layout[i] === 15) {
            square.classList.add("eo");
        } else if (layout[i] === 16) {
            square.classList.add("ep");
        } else if (layout[i] === 17) {
            square.classList.add("eq");
        } else if (layout[i] === 18) {
            square.classList.add("er");
        } else if (layout[i] === 19) {
            square.classList.add("es");
        } else if (layout[i] === 20) {
            square.classList.add("et");
        } else if (layout[i] === 21) {
            square.classList.add("eu");
        }
    }
}

const layout = [ 
    1124,1124,1124,1124,1124,1124,1124,1124,1124,1124,1124,1124,1124,
    1124,1125,1125,1125,        1123,1119,1119,1119,1119,1121       ,1125,1125,1125,
    1124,1125,1125,1125,        1117,1127,1130,1131,1126,1118       ,1125,1125,1125,
    1124,1125,1125,1125,        1117,1127,1129,1128,1126,1118       ,1125,1125,1125,
    1124,1125,1125,1125,        1116,1122,1122,1122,1122,1120       ,1125,1125,1125,
    1112    ,1125,1125,1125,1125,1125,1125,1125,1125,1125,1125,1125,    1112,
    1111    ,1125,  1115,1114,1113    ,1125,1125,1125,1125,1125,1125,1125,    1111,
];

*/

/*
APUNTES DE DIV, IMG, NUMERO Y OBJETOS
ea(1)-eb(2)                                 planta          1111/1112
ec(3)-ed(4)-ee(5)                           alfombra roja   1113/1114/1115
ef(6)-eg(7)-eh(8)-ei(9)-ej(10)-ek(11)-el(12)-em(13)     alfombra verde  1116/1117/1118/1119/1120/1121/1122/1123
en(14)-eo(15)                               piso            1124/1125        
ep(16)-eq(17)                               silla           1126/1127
er(18)-es(19)-et(20)-eu(21)                 mesa            1128/1129/1130/1131
*/