/* Mapa de la casa*/
.grid2 {
    width: 828px;
    height: 610px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid2 div {
    width: 36px;
    height: 36px;
}

.personaje {
    background-image: url('../IMG/personajee.jpg');
    position: relative;
    background-size: cover;
    border: 5px;
    /*border: none;
    z-index: 999;*/ 
}

.ea {
    background-image: url("../IMG/1111.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.eb {
    background-image: url("../IMG/1112.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ec {
    background-image: url("../IMG/1113.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ed {
    background-image: url("../IMG/1114.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ee {
    background-image: url("../IMG/1115.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ef {
    background-image: url("../IMG/1116.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.eg {
    background-image: url("../IMG/1117.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.eh {
    background-image: url("../IMG/1118.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ei {
    background-image: url("../IMG/1119.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ej {
    background-image: url("../IMG/1120.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ek {
    background-image: url("../IMG/1121.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.el {
    background-image: url("../IMG/1122.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.em {
    background-image: url("../IMG/1123.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.en {
    background-image: url("../IMG/1124.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.eo {
    background-image: url("../IMG/1125.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.ep {
    background-image: url("../IMG/1126.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.eq {
    background-image: url("../IMG/1127.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.er {
    background-image: url("../IMG/1128.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.es {
    background-image: url("../IMG/1129.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.et {
    background-image: url("../IMG/1130.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

.eu {
    background-image: url("../IMG/1131.jpg");
    border: 5px;
    position: relative;
    background-size: contain ; 
}

/*
APUNTES DE DIV, IMG, NUMERO Y OBJETOS
ea(1)-eb(2)                                 planta          1111/1112
ec(3)-ed(4)-ee(5)                           alfombra roja   1113/1114/1115
ef(6)-eg(7)-eh(8)-ei(9)-ej(10)-ek(11)-el(12)-em(13)     alfombra verde  1116/1117/1118/1119/1120/1121/1122/1123
en(14)-eo(15)                               piso            1124/1125        
ep(16)-eq(17)                               silla           1126/1127
er(18)-es(19)-et(20)-eu(21)                 mesa            1128/1129/1130/1131
*/